# Vite environment variables (must be prefixed with VITE_)
VITE_API_URL=http://localhost:8000

# Stripe publishable key (optional)
VITE_STRIPE_PUBLISHABLE_KEY=

# PayPal
VITE_APP_PAYPAL_CLIENT_ID=AQ3Qb-BP7ilZ3b1Kvdh34A1LbsZngYcrdnQKVSwNrofa55buPRA0aa8UDS9CACKybQ48vaPNczgzmz5T

# Firebase
VITE_FIREBASE_APP_API_KEY=
VITE_FIREBASE_APP_AUTH_DOMAIN=
VITE_FIREBASE_APP_PROJECT_ID=
VITE_FIREBASE_APP_STORAGE_BUCKET=
VITE_FIREBASE_APP_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_APP_ID=
